*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 4px;
}

body {
  font-size: 4rem;
  background-color: #fafafa;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.container {
  color: #444659;
  max-width: 1060px;
  width: 90vw;
  margin: 0 auto;
}

.nav {
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

.nav__title {
  font-family: 'Roboto Condensed', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  margin: 0;
}

.content {
  min-height: calc(85vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  width: 100%;
  border: 2px solid #444659;
  background-color: white;
}

.quiz__header {
  border-bottom: 1px solid #444659;
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz__header__title,
.quiz__header__progress {
  margin: 0;
  line-height: 1;
}

.quiz__body__question {
  padding: 6rem;
}

.quiz__body__question__title {
  font-family: 'Roboto Condensed', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0;
}

.quiz__body__question__example {
  font-family: monospace;
  line-height: 1.6;
  background-color: rgba(68, 70, 89, 0.05);
  white-space: pre-wrap;
  padding: 4rem;
  margin: 4rem 0 0;
}

.quiz__body__form {
  display: flex;
  flex-wrap: wrap;
}

.quiz__body__form__option {
  width: 50%;
}

.quiz__body__form__option:nth-child(2n) > .quiz__body__form__label {
  border-left: 1px solid #444659;
}

.quiz__body__form__input {
  position: absolute;
  left: -9999px;
}

.quiz__body__form__input:checked + label,
.quiz__body__form__input:focus + label,
.quiz__body__form__input:active + label {
  background-color: #444659;
  color: white;
}

.quiz__body__form__label {
  border-top: 1px solid #444659;
  padding: 4rem;
  font-size: 4rem;
  display: block;
  cursor: pointer;
}

.quiz__body__form__label:hover {
  color: white;
  background-color: #444659;
}

.quiz__body__form__submit {
  width: 100%;
  padding: 4rem;
  background-color: #444659;
  color: white;
  border: none;
  position: absolute;
  left: -9999px;
}

.quiz__body__form__submit:disabled {
  background-color: rgba(68, 70, 89, 0.25);
  opacity: 0.5;
  cursor: default;
}
